*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Montserrat',sans-serif;
}
div {
    display: block;
}

.main{
    width: 100%;
    background: url("../image/bike-hero.jpg") no-repeat center fixed;
    background-size: cover;
    display: flex;
}
.navbar-brand img {
    margin-left: 10em;
}

.mountain-bike{
    width: 100%;
    height: 100%;
    background: url("../image/moutain-bike.jpg") no-repeat center fixed;
    background-size: cover;
}

.city-bike{
    width: 100%;
    background: url("../image/city-bike.jpg") no-repeat center fixed;
    background-size: cover;
    display: flex;
}

.speclyti-bike{
    width: 100%;
    background: url("../image/speciality-bike.jpg") no-repeat center fixed;
    background-size: cover;
    display: flex;

}

.main-content{
    width: 100%;
    height: 100%;
    background-image: conic-gradient(rgb(174 26 17 / 49%) 50%, #000000a6 50%);
    color: #fff;
    padding-bottom: 200px;
}


.bg-light {
    --bs-bg-opacity: 0!important;
}
.mrr {
    margin-right: 230px !important;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: space-around;
    margin-left: 5em;
}

.navbar-expand-lg .navbar-nav {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-link {

    padding:8px 20px !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white!important;

}

.navbar-light .navbar-toggler{
    border: none;
    font-size: 25px;
    background-color: white;
}


.ast-btn{
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 153px;
    height: 48px;
    background-color: #fff;
}
.site-header {
    transition: all .2s linear;
}
.menu-link {
    display: none;
}
.ast-custom-btn {
    padding: 14px 34px;
    font-size: 0.875em;
}
.ast-btn a {
    text-decoration: none;
    color: #000;
}
.ast-custom-btn-link {
    height: 48px;
    width: 153px;
}
.ast-btn:hover {
    background-color: #000;
}
.ast-btn a:hover {
    color: #fff !important;
}

.main-title{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Racing Sans One',display;
}

.title-name{
    text-transform: uppercase;
    font-family: 'Racing Sans One',display;
    font-size: 85px;

}

.main-name{
    margin-top: 80px;
}

.specifications{
    text-transform: uppercase;
    font-family: 'Racing Sans One',display;
    margin-top: 50px;
    margin-bottom: 30px;
}

.iconname{
    font-size: 10px;
    padding-right: 10px;

}

.name-icon{
    font-size: 20px;
}

.menu-name{
    width: 100%;
    padding: 100px 0px;
}

.menu-title{
    font-family: 'Racing Sans One',display;
    text-align: center;
    font-size: 60px;
    margin-bottom: 60px;
}

.main-sub-content{
    display: flex;
    flex-direction: column;
    margin-left: 14em;
}

.buynow{
    background-color: #df453e;
    color: white;
    width: 168px;
    padding: 15px 40px;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;

}

.list-bike{
    padding: 20px;
}

.cards{
    overflow: hidden;
    width: calc(25% - 30px);
    margin-left: 30px;

}

.card-image{
    margin-bottom: 15px;
}

.Bicycles{
    font-size: 20px;
    color: gray;
}

.bike-name{
    font-size: 20px;
    font-family: 'Racing Sans One', display;
    margin: 10px 0px;
}

.card-icon{
    color: #df453e;
}

.money{
    font-size: 20px;
}


.mountain-colo{
    width: 100%;
}

.mountain-colo{
    background-image: linear-gradient(180deg,#04020269 0%,#161616 100%);
    opacity: 0.98;

}


.mountain-content{
    color: white;
    display: flex;
}

.mountain{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 100px;
    margin-left: 14em;
}

.top-content{
    font-size: 25px;
    font-family: 'Racing Sans One',display;
    margin-bottom: 40px;
}

.top-name{
    font-size: 55px;
    font-family: 'Racing Sans One',display;
    margin-bottom: 40px;

}

.mountain-list{
    display: flex;
    margin: 40px 0px;
}

.mt-sl{
    margin-right : 30px;
}

.exflo{
    width: 220px;
    font-size: 20px;
    padding: 10px 40px;
    color: white;
    background-color: #df453e;

}

.n-icon{
    color: #df453e;
    font-size: 20px;
    align-items: center;
    padding-right: 15px;
}

.cln{
    font-size: 20px;
    font-weight: 400;
}

.chose-im-2{
    width: 45%;
    height: 330px;
    background: url("../image/specification-1.jpg") no-repeat;
    background-size: cover  ;
}

.c-im-cl{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,#04020269 0%,#161616 100%);
    opacity: 0.98;
    background-color: transparent;

}

.chose-im-3{
    width: 45%;
    height: 330px;
    background: url("../image/specification-2.jpg") no-repeat;
    background-size: cover  ;
}

.chose-image2{
    display: flex;
    justify-content: space-around;
}

.chose{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}

.c-top-tt{
    text-align: center;
    font-size: 70px;
    font-family: 'Racing Sans One',display;
    padding-bottom: 50px;
}

.chose-im-4{
    width: 30%;
    height: 200px;
    background: url("../image/specification-3.jpg") no-repeat;
    background-size: cover  ;


}

.chose-im-5{
    width: 30%;
    height: 200px;
    background: url("../image/specification-4.jpg") no-repeat;
    background-size: cover  ;

}

.chose-im-6{
    width: 30%;
    height: 200px;
    background: url("../image/specification-5.jpg") no-repeat;
    background-size: cover  ;

}

.cal{
    padding-top: 20px;
}

.c-im-content{
    padding: 200px 0px 0px 20px;
    color: white;
}

.c-im-title{
    font-family: 'Racing Sans One';
    font-size: 40px;
}

.c-im-gh{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.c-im-hh{
    font-family: 'Racing Sans One';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding-top: 130px;
    color: white;
    font-size: 30px;
}

.text-content{
    padding: 120px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    font-family: 'Racing Sans One';
    font-size: 70px;
    text-align: center;
    padding: 40px 0px;

}
.text-button{
    background-color: #df453e;
    border: none;
    padding: 20px 60px;
    font-size: 20px;
    color: white;
    margin-top: 80px;
}

.join{
    background-color: #e4e4e4;
    padding-bottom: 120px;
}

.join-title{
    text-align: center;
    padding: 100px 0;
}

.join-bg{

    background: url("/assets/image/join-programme.jpg") no-repeat center;
    background-size: cover ;

}

.jn-bg-tx{
    width: 100%;
    height: 600px;
     background-image: linear-gradient(180deg,#04020269 0%,#161616 100%);
    opacity: 0.88;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 40px;
    padding-bottom: 30px;
}

.join-img{
    padding: 0px  150px;
    padding-bottom: 70px;
}

a .join-icon{
    color: white;
    font-size: 75px;

}

.join-tx{
    color: white;

    font-family: 'Racing Sans One';
    font-size: 50px;

}

.join-contact{
    padding: 0 150px;
    display: flex;
}

.duis{

    width: 50%;
}

.duis > p {
    color: #54595F;
    font-size: 20px;
}

.join-tx1{
    font-family: 'Racing Sans One';
    font-size: 40px;

}

.jn-th-bt{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ij-bt{
    border: none;
    background-color: #df453e;
    color: #fff;
    font-size: 20px;
    padding: 20px 40px;
}

.jn-text{
    font-family: 'Racing Sans One';
    font-size: 70px;
}

.theall{
    width: 100%;
    background: url("/assets/image/bike-hero.jpg") no-repeat center fixed;
    background-size: cover;

}

.th-im-bg{
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(180deg,#04020269 0%,#161616 100%);
    opacity: 100;
}

.theall{

    text-align: center;
}

.th-im-bg{
    padding: 0 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.st{
    font-family: 'Racing Sans One';
    font-size: 50px;
    text-transform: uppercase;
    padding: 20px 0;
}

.kyo{
    font-family: 'Racing Sans One';
    font-size: 70px;
    text-transform: uppercase;
    padding: 20px 0;
}

.p-text{
    font-size: 20px;
    padding: 20px 0;
}

.all-bt{
    padding: 20px 0;
}

.th-all-bt{
    background-color: #b62d25;
    color: white;
    border: none;
    padding: 20px 40px;
}

.ft{
    display: flex;
    justify-content: space-around;
    background-color: #161616;
    padding-bottom: 100px;
    border-bottom: 1px solid #7A7A7A;
}

.ft-tx{
    display: flex;
    flex-direction: column;
    line-height: 2;

}

.jn-fnt{
    font-family: 'Racing Sans One';
    font-size: 70px;
}

.ft-tt{
    color: #fff;
    font-family: 'Racing Sans One';
    font-size: 30px;
    margin-bottom: 30px;
}

.ft-lis{
    color: #fff;
    font-style: 50px;
    text-decoration: none;
    font-weight: 500;
}

.nv-bt{
    background-color: #161616;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.lg-bt {
   color: #fff;
   font-size: 20px;
}

.ic-bt{
    font-size: 20px;
    margin-left: 20px;
}

.bt-ic{
    color: white;
    margin-left: 20px;
}

ion-icon:hover{
    color: #b62d25;
}

.ft-lis:hover{
    color: #b62d25;
}
